.form-control{
    background: transparent;
    border: none;
    border-bottom: 3px solid #cd436d;
    color: white;
    font-size: 1.2em;
}
section{
    padding: 0;
}

form{
    margin: 0 0;
}

.description{
    border-bottom: #cd436d 3px solid;
    margin-bottom: 60px;
    font-size: 2.5em;
}

.input p {
    color: #cd436d;
    font-size: 1.2em;
}